<!doctype html>
<html lang="en">
  {% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.1/assets/img/favicons/favicon.ico">

    <title>www.kidcode.com</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/album/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>

    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">关于我们</h4>
              <p class="text-muted">致力于少年儿童的素质教育，提升能力的编程教育，人工智能基础能力培养，提升孩子的逻辑能力，注意力，专注力，意志品质，最终提高学习能力。</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">联系我们</h4>
              <ul class="list-unstyled">
                <li><a href="#" class="text-white">微信:152021558</a></li>

                <li><a href="#" class="text-white">邮箱:michaelt@163.com</a></li>
                <li><a href="#" class="text-white">抖音号:michaelalei</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
            <strong>芒果编程</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>

    <main role="main">

      <section class="jumbotron text-center">
          <div class="container text-left">
          <p>
            <a href="blog" class="btn btn-primary my-2">登陆学习</a>
            <a href="{% static 'resume.pdf' %}" class="btn btn-secondary my-2">注册学习</a>
          </p>
          </div>
        <div class="container">
          <h1 class="jumbotron-heading">项目案例</h1>
          <p class="lead text-muted">    用有趣的方式学习有用的编程，不仅培养孩子对编程的兴趣，还能锻炼逻辑思维、创造力、想象力、动手能力等。2018年，教育部将编程纳入中小学必修课。拥有编程特长，不仅能为升学加分，更有机会保送名校，为留学国外助力。未来是人工智能的时代，编程无疑将成为核心技能之一，谁掌握编程，谁就能在未来的职业和竞争中占据主动权。</p>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
{#            <div class="col-md-4">#}
{#              <div class="card mb-4 shadow-sm">#}
{#                <img class="card-img-top" src="">#}
{#                <div class="card-body">#}
{#                  <p class="card-text">测试</p>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
          {% for gallery in gaall %}
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="{{ gallery.image.url }}" height="300">
                <div class="card-body">
                  <p class="card-text">{{ gallery.description }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
          <div class="container text-center">
          <p>
            <a href="blog" class="btn btn-primary my-2">我的博客</a>
            <a href="{% static 'resume.pdf' %}" class="btn btn-secondary my-2">我的介绍</a>
          </p>
          </div>
          </div>
        </div>
      </div>

    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">回到顶部</a>
        </p>
        <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
        <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>

